<!doctype html>
<html>
<head>
    <title>Nest Sample using Python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/third_party/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/third_party/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-pink.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
        <a class="navbar-brand" href="#">Nest Sample using Python </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://developers.nest.com/" target="_blank">Nest Developer Console</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                {% if has_token %}
                <a id="logout" class="nav-link" href="{{url_for('logout')}}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i><strong> Deauthorize/Remove Works with Nest Connection</strong>
                </a>
                {% else %}
                <a id="login" class="nav-link" href="{{url_for('login')}}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i><strong> Authorize Works with Nest Connection</strong>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    {% block body %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="{{ url_for('static', filename='js/third_party/bootstrap.min.js') }}"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</div>
</body>
</html>
